body{
  font-size:6pt;
  background-image: url("../img/fondo.jpg");
  font-family:Calibri;
  margin-top:2%;
  margin-left:5%;
  margin-right:3%;
  padding: 1%;
  color:red;
  line-height:1.3rem;
}

h1{
  text-align:center;
  text-decoration:underline;
}

nav{
  text-align: center;
  padding:10px;
}

a{
  padding:10px;
}

@media (min-width:400px)  {
  body {
        font-size:8pt;
        font-family: cambria;
        color: blue;
        background-image: url("../img/fondo2.jpg");
    }
}
@media (min-width:800px)  {
  body {
    font-size:10pt;
    font-family: Comic Sans Ms;
    color: green;
    background-image: url("../img/fondo3.jpg");
    }
}

@media (min-width:1200px)  {
  body {
    font-size:12pt;
    font-family: times new roman;
    color: yellow;
    background-image: url("../img/fondo4.jpg");
    }
}

@media (min-width:1600px)  {
  body {
    font-size:16pt;
    font-family:  Courier  new;
    color: orange;
    background-image: url("../img/fondo5.jpg");
    }
}
