body {
  background-color: gray;
  color: white;
  font-size: 14pt;
  font-family: Arial;
  text-align: center;
}

ol {
  list-style: none;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  font-size: 16pt;
  font-weight: bold;
}
