p[class *= "leyenda"]::first-line {
  font-weight: bold;
  font-style: italic;
}

div#Segovia {
  font-size: 3rem;
}

a {
  font-family: "Comic  Sans MS";
  font-size: 14pt;
  color: yellow;
}

a:visited {color: brown;}
a:active { color: purple;}
a:hover {
  color: orange;
  font-size: 1.4rem;
}

div#leyendas>p::before {
  content: "leyendas";
  font-family: Arial;
  color: pink;
  font-size: 12pt;
}

div>p::after {
  content: url("../imagenes/minialcazar.jpg");
}

div>:first-child {
  color: #A4F213;
  font-family: Cambria;
  font-weight: 28pt;
}

div>p:nth-child(3) {
  font-family: "Times New Roman";
  font-size: 13pt;
  color: hsl(310, 75%, 50%);
}

div>p:first-of-type {
  color: salmon;
  text-decoration: underline;
  font-style: italic;
}

div>p:last-of-type {
  color: salmon;
  text-decoration: underline;
  font-style: italic;
}

div>p:nth-last-child(2) {
  font-family: "Times New Roman";
  font-size: 11pt;
  color: rgb(123, 171, 171);
}
