div.sprite {
 background-image: url("../imagenes/andando.png" );
 background-repeat:no-repeat;
}

.primero {
  width:51px;
  height:119px;
  background-position: -85px -7px;
}
.segundo {
  width:42px;
  height:127px;
  background-position: -139px -11px;
}
.tercero {
  width:44px;
  height:118px;
  background-position: -187px -13px;
}
.cuarto {
  width:74px;
  height:115px;
  background-position: -237px -17px;
}
.quinto {
  width:42px;
  height:135px;
  background-position: -312px -16px;
}
.sexto {
  width:45px;
  height:112px;
  background-position: -359px -17px;
}
.septimo {
  width:84px;
  height:112px;
  background-position: -406px -17px;
}
