body {
  background-image: url("../imagenes/convento san marcos.jpg");
  background-repeat: repeat-y;
  font-family: Vivaldy;
  color: #0B08BD;
  text-transform: uppercase;
  font-size: 10pt;
}
::first-letter {
  font-style: italic;
  font-weight: bold;
}

@media (min-width:475px)  {
  body {font-size: 12pt;}
}

@media (min-width:950px)  {
  body {font-size: 14pt;}
}
