div#divisiones{
  display: grid;
  border: 2px solid magenta;
  grid-template-columns: 32%;
  grid-template-rows: repeat(9,500px);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  grid-auto-flow: row;
}
div#divisiones>div{border: 2px solid green;}

div#secciones{
  display: grid;
  border: 2px solid violet;
  grid-template-columns: 31%;
  grid-template-rows: repeat(18,400px);
  grid-row-gap: 3mm;
  grid-column-gap: 1%;
  grid-auto-flow: column;
}
div#secciones>div{border: 2px solid blue;}

div#catedral{
  display: grid;
  border: 2px solid violet;
  grid-template-columns: 20% 35% 40%;
  grid-template-rows: 550px 750px 650px 450px;
  grid-row-gap: 0,1in;
  grid-column-gap: 1%;
  grid-auto-flow: dense;
}
div#catedral>div{border: 2px solid red;}
div#catedral>div#cate01{grid-row: 2;grid-column: 3}
div#catedral>div#cate02{grid-row: 4;grid-column: 2}
div#catedral>div#cate03{grid-row: 1;grid-column: 2}
div#catedral>div#cate04{grid-row: 3;grid-column: 1}

@media (min-width:400px) {
  div#divisiones{
    grid-template-columns: 32% 32%;
    grid-template-rows: repeat(5,500px);
  }
}

@media (min-width:800px) {
  div#divisiones{
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: repeat(3,500px);
  }
}

@media (min-width:300px) {
  div#secciones{
    grid-template-columns: 31% 31%;
    grid-template-rows: repeat(9,400px);
  }
}
@media (min-width:600px) {
  div#secciones{
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: repeat(6,400px);
  }
}
@media (min-width:900px) {
  div#secciones{
    grid-template-columns: 31% 31% 31% 31% 31% 31%;
    grid-template-rows: repeat(3,400px);
  }
}
